
/* //////////////register.html login.html and edituser.html////////////// */

:root {
  --light: #fcfcfc;
  --motivateorange:  rgb(220, 90, 3);
  --null: #8a8a8a;
  --dark: rgb(31, 31, 32);
  --darkshadow: rgb(59, 59, 59);
  --lightshadow: rgb(99, 99, 99);
}

.light {
    --bg: var(--light);
    --text: var(--dark);
   --shadow: var(--lightshadow);
}

.dark{
--bg: var(--dark);
--text: var(--light);
--shadow: var(--darkshadow);
}


body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
    width:100%;
    color: var(--text);
background-color: var(--bg);
}


/* ///////// navbar /////////// */

h1 {
    display: inline-block;
     margin-left: 30%;
}

.navbar {
background-color: var(--bg);
color: var(--text);
padding: 16px;
box-shadow: 0px 2px 4px var(--shadow);
}


.navbar a:hover{
    color: white;
    
  background-color: rgb(220, 90, 3);
}

.navbar a {
font: bold;
 padding: 16px;
text-decoration: none;
color: var(--text)
}








.form form {
    position: relative;
    left: 15%;
 display: flex; 
 flex-direction: column;


}


.form input:focus {
  outline: none;
}
.form #name{
border: none;
background-color: var(--bg);
    border-bottom: 1px solid var(--text);
    width: 50%;
    
}
.form #username{
border: none;
color: var(--text);
background-color: var(--bg);
    border-bottom: 1px solid var(--text);
    width: 50%;
    
}
.form #password{
border: none;
color: var(--text);
background-color: var(--bg);
    border-bottom: 1px solid var(--text);
    width: 50%;
    
}








/* //////////////home.html//////////////// */




#text {
 border: none;


    
    width: 50%; 
}






/*////////////  buttons ///////////////*/

#register-login{
     background-color: rgb(220, 90, 3);
    color: rgb(255, 251, 251);
    border-radius: 20rem;
    padding: 0.8%;
    border: 0ch;
    box-shadow: 2px 3px 4px 2px var(--shadow);
    text-align: center;  
}

#register-login:hover{
     background-color:  rgb(220, 90, 3);
    color: rgb(244, 240, 240);
  
}

#success{
    background-color: rgb(220, 90, 3);
    color: rgb(255, 251, 251);
    border-radius: 20rem;
    padding: 0.8%;
    border: 0ch;
    box-shadow: 2px 3px 4px 2px var(--shadow);
    text-align: center;
     
    
}


#success:hover{
     background-color: rgb(220, 90, 3);
    color: rgb(244, 240, 240);
  
}




#danger{
     border: 2px solid #8a8a8a;
  background-color: transparent;
  text-decoration: none;
  padding: .2rem;
   position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: .8rem;
  color: #8a8a8a;
  font-size: .8rem;
  transition: all ease 0.4s;

  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

#danger:hover{
     background-color: rgb(176, 2, 2);
    color: rgb(244, 240, 240);
    border-color: rgb(176, 2, 2);
}

 


#finishedit{
     background-color: rgb(220, 90, 3);
    color: rgb(255, 251, 251);
    border-radius: 20rem;
    padding: 0.8%;
    border: 0ch;
    box-shadow: 2px 3px 4px 2px rgb(84, 84, 84);
    text-align: center;
}

#finishedit:hover{
     background-color:  rgb(220, 90, 3);
 color: rgb(223, 220, 220);
}


 .article #danger{
    
     width: 3.5rem;
     height: 2rem;
   text-align: center;
     
}

.backtouserdetails {
    background-color: rgb(168, 0, 0);
        color: rgb(255, 251, 251);
        border-radius: 20rem;
        padding: 0.8%;
        border: 0ch;
        box-shadow: 2px 3px 4px 2px var(--shadow);
        text-align: center;
    }



.button-like {

  border: 2px solid #8a8a8a;
  background-color: transparent;
  text-decoration: none;
  padding: .2rem;
   position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 1rem;
  color: #8a8a8a;
  font-size: .8rem;
  transition: all ease 0.4s;

  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.button a{
    text-decoration: none;
    color: #8a8a8a;
}
.button-like span {
  margin-left: 0.5rem;

}

.button-like .fa,
.button-like span {
  transition: all ease 0.4s;
}

.button-like:focus {
  background-color: transparent;
}

.button-like:focus .fa,
.button-like:focus span {
  color: #8a8a8a;
}

.button-like:hover {
  border-color:  rgb(220, 90, 3);
  background-color: transparent;
  
  
}

.button-like:hover .fa,
.button-like:hover span {
  color: rgb(220, 90, 3);
}

.liked {
  background-color:  rgb(220, 90, 3);
  border-color: rgb(220, 90, 3);
}

.liked .fa,
.liked span {
  color: #fefefe;
}

.liked:focus {
  background-color:  rgb(220, 90, 3);
}

.liked:focus .fa,
.liked:focus span {
  color: #fefefe;
}

.liked:hover {
  background-color:  rgb(220, 90, 3);
  border-color:  rgb(220, 90, 3);
}

.liked:hover .fa,
.liked:hover span {
  color: #fefefe;
}


.button-inlikes{
 
  border: none;
  background-color: transparent;
  text-decoration: none;
  padding: .2rem;
   position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 1rem;
  color: rgb(220, 90, 3);
  font-size: .8rem;
  transition: all ease 0.4s;
 
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.fala {
    color: rgb(220, 90, 3);
}







/* ////// vid seciton /////// */


.vidsection{
    display: flex;
   
    
    }
    

    .vids {
    width: 50%;
    -moz-text-size-adjust: auto;
     align-content: space-between;
     
      margin: 40px
    }
    
    .vid {
    
    display: flex; 
    align-items: center;
    flex-direction: column;
    align-items: column;
    
    align-content: space-between;
    padding: 10px;
  box-shadow: 4px 4px 4px 4px rgba(11, 11, 11, 0.5);;
    }
    
     iframe{
    width: 20rem;
    height: 15rem;
    align-content: center;
    }


.pagination{

    max-width: max-content;
    overflow-x: scroll;
    white-space: nowrap;
    
}











/* ////// user input form info /////// */


.userpost{
margin-left: 2.5%;
    display: flex;
   flex-direction: row;
    box-shadow: 4px 2px 4px rgba(11, 11, 11, 0.5);
 align-items: center;
}

.user-info{ 

   display: flex;
   flex-direction: column-reverse;
   text-align: center;
}



.userpost img{
 height: 4rem;
}

.userpost .button{
     height: 2px;
    
}


.userpost input{

width: 400%;
padding: 10px;
margin: 10px 0;
border:  rgb(220, 90, 3) 1px solid;
border-radius: 50px;
justify-content: center;
margin: 4%;
}


.inputsubmit{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.inputsubmit input {
 flex: 1;
  padding-right: 4%;
}


.inputsubmit button {

        
    
    background-color: #f1f1f1;
    position: relative;
    border: none;
   left: 235%;
    cursor: pointer;
}

#inputpost{
  background-color: var(--bg);
  color: var(--text);
}








.myposts{
    position: relative;
right: 20%;
}





.otheruser-info{
 display: flex;
   flex-direction: column-reverse;
   text-align: center;
}

.otheruser-text {
  display: flex;
   flex-direction: row;
   text-align: center;
}



.user-buttons{
   display: flex;
   flex-direction: column-reverse;
  text-align: center;

}

/* ///////article posts ////// */
.articles{
width: 100%;    
}


.article {
    display: flex;
    flex-direction: column;
    box-shadow: 4px 2px 4px rgba(11, 11, 11, 0.5);
    margin-bottom: 5%;
    padding-right: 10%;
}


.apipost img{
width: 50%;
height: auto;
}





/* //////// users content /////// */

.post-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

 .img-container{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}


.userdetailpic {
 border-radius: 50%;
 height: 30%;
 width: 30%;

}











		

/* /////// page links ////// */
.pagination{
    max-width: max-content;
    overflow-x: scroll;
    white-space: nowrap;
}	


.page-item {
    font-size: 18px;
    float: left;
    padding: 8px 16px;   
   list-style-type: none;
    text-transform: none;
     transition: 0.3s;
}

.page-link {
    text-decoration: none; 
    color:  rgb(220, 90, 3);
  
}
.page-link:hover{
    text-decoration: none; 
    color: rgb(255, 255, 255);
  
}


.page-item:hover {
    border-radius: 50%;
      transform: rotate(360deg);

	background-color:  rgb(220, 90, 3);
}

		

		






/* flash messages */
#error-message{
   
	background-color: #FFBABA;
			
}



.edit{
 border: 2px solid #8a8a8a;
  background-color: transparent;
  text-decoration: none;
  padding: .2rem;
   position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 1rem;
  color: #8a8a8a;
  font-size: .8rem;
  transition: all ease 0.4s;

  display: flex;
  align-items: center;
  flex-direction: column-reverse;
 
}

.edit a{
    color: #8a8a8a;
    text-decoration: none;
}
.edit:hover{
  border-color:  rgb(3, 126, 220);
background-color: rgb(3, 126, 220);

  
}
.edit a:hover{
     color: #f1f1f1; 
}






.current-user-posts h1{
    position: relative;
    
    right: 30%;
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0c0c0c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



#profilename{
    display: inline-block;
    margin-left: 30%;
  
}