{%extends 'base.html'%}

{% block nav %}
   



<nav class="navbar">
<a href="/home/{{user.id}}">Home</a>
<a href="/user/{{ user.id }}"> My page</a>
<a href="/logout">log out</a>
<h1 data-user="{{user.id}}">  {{user.username}} </h1>


<br>


</nav>


<label class="switch">
  <input class="themes" type="checkbox">
  <span class="slider round"></span>
</label>
{% block content %}


{% endblock %}



 {% for msg in get_flashed_messages() %}
  <p><h2>{{ msg }}<h2></p>
{% endfor %}
</div>
  <div class="pagination"> 
  <ul class=vidsection> 
  
  {%for vid in vids%}  

  <div class="vids">
    <li class="vid item"  data-vidid ="{{vid.api_info.videoid}}">
      <h4> <b>{{ vid.title }} </b> </h4>
    </li>
  </div>  
  {%endfor%}
</ul>
{{vidpost_pagination.links}}
 </div>





<div id="flash-messages" class="flash-messages">


 <div id="error-message" class="error-message"></div>
<div class="userpost">

<div class="user-info item">
<img  class="item"   {%if user.img%} src="{{ url_for('uploaded_file', filename=user.img)}}" {% else %} src="https://img.freepik.com/free-icon/user_318-644325.jpg" {%endif%} alt="Profile Picture" srcset="" >
<b>{{user.username}}</b>
</div>

<div class="inputsubmit">
<form class="item item" id="homeaddpost" method="POST" action="/home/{{user.id}}">
<input type="text" id="inputpost" name="text" >

  </form> 


<button  class="item item" id="success" >Motivate</button>
</div>
</div>












    <ul class=postsection>
    {%for p in textpost%}       
       <div class="articles">

          <li class = "article item"  data-id="{{p.id}}" {%if p.api_id%} data-title="{{p.api_info.title}}" data-url ="{{p.api_info.url}}" {%else%} data-user="{{p.user_id}}" {%endif%}> 
            {%if p.title%}
              <div class="apipost">
              <img src= {{p.api_info.img}} ><h4><b>{{p.api_info.title}}</b></h4>
            {{p.text[:-12]}} <a href="{{p.api_info.url}}"> see more </a> 
  
            <form action="/users/{{p.id}}/likepost" method="post">        
             <button class="button button-like" data-postid="{{p.id}}">
            <i class="fa fa-heart"></i>
            <span>Like</span>
            </button>
            </form> 
            
              </div>
            {%else %}
            



            <div class="post-content"> 
              {% if p.user_id == user.id %}
              <div class="user-info"> 
           <img class = "img-container"  {%if user.img%} src="{{ url_for('uploaded_file', filename=user.img)}}" {% else %} src="https://img.freepik.com/free-icon/user_318-644325.jpg" {%endif%} >
              <b> {{p.user.username}}</b>
            </div>
              {{ p.text }}
              <div class="user-buttons">
            <form action="/post/{{p.id}}/delete" method="post">
              <button class="remove item"  id="danger" data-post="{{p.id}}"><a href="/post/{{p.id}}/delete"></a><i class="fa fa-trash" aria-hidden="true"></i>Delete</button> 
</form>
                <form action="/users/{{p.id}}/likepost" method="post">
              <button  method="post" data-postid="{{p.id}}" class="button button-like"> <i class="fa fa-heart"></i><span>Like</span></button>
              </form>
            </div>
             </div>
          
           

            {% else %}
            

            <div class="otheruser-info"> 
           <img class = "img-container"  {%if user.img%} src="{{ url_for('uploaded_file', filename=user.img)}}" {% else %} src="https://img.freepik.com/free-icon/user_318-644325.jpg" {%endif%} >
              <b> {{p.user.username}}</b>
            </div>

           
            {{ p.text }}
             <form action="/users/{{p.id}}/likepost" method="post">
            <button data-postid="{{p.id}}" class="button button-like">
            <i class="fa fa-heart"></i>
            <span>Like </span>
            </button>
         </form>

          
      
          {% endif %}
           {%endif%}
        
    </li>
     {%endfor%}
</ul>



{% endblock %}