{%extends "base.html"%}
{%block nav%}
<nav class="navbar">
    <a href="/">Home</a>
    <a href="/logout">log out</a>
      <a href="/user/{{user.id}}/edit">  Edit profile </a>
  <a href="/user/{{user.id}}/likes"> {{user.username}} likes</a>

    <br>
    </nav>
{%endblock %}
{%block content %}
<divid="profilename">
<h1 > {{user.username}} </h1>
<div>
<h2>{{user.name }} </h2>

<div>
<img id="item1" class="userdetailpic" {%if user.img%} src="{{ url_for('uploaded_file', filename=user.img)}}" {% else %} src="https://img.freepik.com/free-icon/user_318-644325.jpg" {%endif%} alt="Profile Picture" srcset="" >
</div>

<div class ="current-user-posts">

<h1 class="posts"> My posts </h1>
  <ul class=postsection>
     <div class="articles">
 {% for p in user.posts %}
          <li class = "article item"  data-id="{{p.id}}" {%if p.api_id%} data-title="{{p.api_info.title}}" data-url ="{{p.api_info.url}}" {%else%} data-user="{{p.user_id}}" {%endif%}> 
            <div class="post-content"> 
              
            <div class="user-info"> 
           <img class = "img-container"  {%if user.img%} src="{{ url_for('uploaded_file', filename=user.img)}}" {% else %} src="https://img.freepik.com/free-icon/user_318-644325.jpg" {%endif%} >
              <b> {{user.username}}</b>
            </div>
            
              {{ p.text }}
           
            <div class="user-buttons">
            <form action="/post/{{p.id}}/delete" method="post">
              <button class="remove item"  id="danger" data-post="{{p.id}}"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button> 
            </form>
           <button class="edit"> <a href="/post/{{p.id}}/edit"> <i class="fas fa-edit"></i> <span>edit post</span>   </a> </button>
           </div>
          </div> 
       

          </div>
        </div>

    </li>
      {% endfor %}
    
</ul>
</div>

{%endblock %}


